.listContainer{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    width: 100vw;
    align-items: center;
}

.listContainer input{
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    font-size: 1rem;
    height: 50px;
    width: 90%;
    background-color: rgb(0, 0, 0, 0);
    transition: 0.1s;
}

.listContainer input:focus{
    outline: none;
    scale: 1.02;
}

.pokemonList{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}