.homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}

.outletContainer{
    width: 100vw;
    min-height: 90vh;
    padding: 90px 0 100px 0;
}